<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Heading H1</h1>
      <h2>Heading H2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra blandit sapien. Fusce non lorem
        nisl. Duis imperdiet massa in massa aliquam fringilla. Morbi sed est non purus semper maximus. Nunc lacinia
        augue quis libero feugiat, vel pulvinar libero pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Mauris ante odio, porttitor sed sodales sed, varius quis mauris. Sed sed fringilla nulla. Aliquam id ipsum
        vitae urna lacinia vestibulum quis vel leo. Integer scelerisque libero ac ex rutrum malesuada sit amet at ipsum.
        Vestibulum sit amet nulla nec elit porta consectetur quis ut diam. Mauris sed risus non ligula consectetur
        egestas. Phasellus et magna eget lorem consequat faucibus eleifend vitae massa. Quisque vitae nunc volutpat,
        sagittis massa vitae, consectetur orci.</p>
      <h3>Heading H3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra blandit sapien. Fusce non lorem
        nisl. Duis imperdiet massa in massa aliquam fringilla. Morbi sed est non purus semper maximus. Nunc lacinia
        augue quis libero feugiat, vel pulvinar libero pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Mauris ante odio, porttitor sed sodales sed, varius quis mauris. Sed sed fringilla nulla. Aliquam id ipsum
        vitae urna lacinia vestibulum quis vel leo. Integer scelerisque libero ac ex rutrum malesuada sit amet at ipsum.
        Vestibulum sit amet nulla nec elit porta consectetur quis ut diam. Mauris sed risus non ligula consectetur
        egestas. Phasellus et magna eget lorem consequat faucibus eleifend vitae massa. Quisque vitae nunc volutpat,
        sagittis massa vitae, consectetur orci.</p>
      <p>Lorem <a routerLink='/privacy-policy'>ipsum dolor</a> sit amet, consectetur adipiscing elit. Vestibulum
        pharetra blandit sapien. Fusce non lorem nisl. Duis imperdiet massa in massa aliquam fringilla. Morbi sed est
        non purus semper maximus. Nunc lacinia augue quis libero feugiat, vel pulvinar libero pellentesque. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Mauris ante odio, porttitor sed sodales sed, varius quis mauris.
        Sed sed fringilla nulla. Aliquam id ipsum vitae urna lacinia vestibulum quis vel leo. Integer scelerisque libero
        ac ex rutrum malesuada sit amet at ipsum. Vestibulum sit amet nulla nec elit porta consectetur quis ut diam.
        Mauris sed risus non ligula consectetur egestas. Phasellus et magna eget lorem consequat faucibus eleifend vitae
        massa. Quisque vitae nunc volutpat, sagittis massa vitae, consectetur orci.</p>
    </div>
  </div>
</div>