<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Privacy Policy</h1>
      <p>Lorem ipsum dolor sit amet, <a routerLink="/terms-conditions">consectetur adipiscing</a> elit. Phasellus eget ornare risus, ac bibendum elit. Nulla
        at finibus odio. Sed molestie est a risus euismod ornare. Duis rutrum at leo et pulvinar. Donec bibendum
        elementum fermentum. Sed volutpat leo nec lacus posuere lobortis. Vivamus ligula purus, pellentesque a massa
        vitae, gravida viverra nisi. Nullam faucibus sollicitudin accumsan. Etiam vitae diam eu arcu tristique auctor.
        In rhoncus, magna vel volutpat molestie, ex metus pretium augue, vitae luctus lacus ante sit amet nisi.
        Vestibulum condimentum massa nisl, non rutrum nibh porttitor ut. Integer non eleifend leo. Suspendisse potenti.
        Etiam eu posuere purus.</p>

      <p>Aliquam scelerisque eget purus a pretium. Nullam varius, leo ac volutpat varius, sapien diam ultrices eros, nec
        tristique sem dolor id dolor. Quisque condimentum elit quis est tempor rhoncus. Morbi congue nisi et risus
        egestas, ornare finibus urna porta. Duis imperdiet viverra neque, non imperdiet elit congue non. Donec posuere
        posuere dolor, eu blandit risus faucibus vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Suspendisse semper ipsum non nibh tincidunt aliquam. Pellentesque ultrices imperdiet tortor. Pellentesque ligula
        lacus, aliquam eget vehicula nec, iaculis vel nibh. Quisque quis consectetur odio, vitae pulvinar eros. Cras
        euismod nibh ut ultrices aliquet. Ut maximus felis ac scelerisque aliquet. Suspendisse viverra sapien id tortor
        ornare, id sodales nisi auctor. Cras ut ipsum in mi tempus cursus.</p>

      <p>Fusce dignissim erat id est vehicula viverra. Mauris dignissim gravida auctor. In ornare turpis iaculis,
        consectetur ligula sed, suscipit turpis. Proin faucibus turpis tristique quam porttitor molestie at quis mauris.
        Vestibulum odio eros, mattis vitae metus in, feugiat consectetur felis. Nullam a efficitur odio. Etiam ornare
        orci lacus, sit amet auctor mi auctor eget. Donec ultricies ex neque, a pulvinar nisl auctor tristique.</p>

      <p>Curabitur et nibh sed augue mollis vestibulum. Nunc a lectus massa. Nullam ut ultricies nulla. Praesent quam
        velit, malesuada pellentesque lectus quis, eleifend pulvinar orci. Integer non nisi urna. Aliquam erat volutpat.
        Fusce vitae lectus consectetur, convallis est at, ultrices nisl. Pellentesque habitant morbi tristique senectus
        et netus et malesuada fames ac turpis egestas.</p>


      <p>Proin tellus metus, dictum et nibh at, porta bibendum turpis. Fusce vitae aliquam tortor, at elementum erat.
        Sed in enim et risus luctus ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Integer mollis nibh sapien, sed vestibulum ex eleifend quis. Suspendisse consequat
        purus quis auctor porta. Nullam elementum accumsan tristique. Vivamus faucibus, quam nec vestibulum ornare,
        ipsum libero placerat justo, nec faucibus leo nisi eget dui. Vestibulum sit amet ex sit amet urna consequat
        tempus et eget leo.</p>
    </div>
  </div>
</div>