<button class="btn btn-login" (click)="openVerticallyCentered(content)"> Login/Register </button>
<ng-template [ngIf]="!loggedIn" #content let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="loginModalLabel">Login/Register</h1>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Save changes</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </div>
</ng-template>