@import '../../../scss/bsOverrides';
@import '../../../scss/componentInclude';

@import 'nav';
@import 'navbar';
@import "dropdown";
@import 'buttons';

.nav{
  &-link{
    color: $navbar-link-color;
    font-weight: 700;
    &:hover{
      color: $navbar-link-color-hover;
    }
  }
  
}