@import '../../../scss/bsOverrides';
@import '../../../scss/componentInclude';

@import 'nav';
@import 'navbar';
@import 'offcanvas';
@import "dropdown";
@import 'buttons';


.nav{
  --#{$prefix}nav-link-color: #{$navbar-link-color};
  --#{$prefix}nav-link-hover-color: #{$navbar-link-color-hover};
  --#{$prefix}nav-link-font-weight: #{$nav-link-font-weight};
  --#{$prefix}nav-link-font-size: 22px;
  --#{$prefix}-dropdown-link-color: #{$navbar-link-color};
  // off canvas items
  --#{$prefix}--offcanvas-width: 70%;
  
  &-link{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    color: $white;
    @include media-breakpoint-up(lg){
      color: $black;
    }
    &:focus-visible{
      @include outline();
    }
  }
}

.navbar{
  --#{$prefix}navbar-color: #{$navbar-link-color};
  --#{$prefix}navbar-hover-color: #{$navbar-link-color-hover};
  --#{$prefix}navbar-active-color: #{$navbar-link-color-hover};
  &-brand{
    &:focus-visible{
      @include outline(0);
    }
  }
  &-toggler{
    border: 0;
    position: absolute;
    right: 0;
    &:focus{
      @include outline();
    }
  }
}

.dropdown{
  &-menu{
    --#{$prefix}dropdown-link-color: #{$navbar-link-color};
    --#{$prefix}dropdown-link-hover-color: #{$navbar-link-color-hover};
  } 
  &-item{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    &:focus-visible{
      @include outline();
    }
  }
}
