<div class="container-fluid d-flex justify-content-between">
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top flex-lg-grow-1">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mainNav"
      aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="">Logo</a>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="mainNav">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body justify-content-lg-center">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="typography" >Typography</a>
          </li>        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item nav-link" href="#">Action</a></li>
              <li><a class="dropdown-item nav-link" href="#">Another action</a></li>
              <li><a class="dropdown-item nav-link" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>        
      </div>
    </div>
  </nav>
  <app-login></app-login>
</div>

