/// 
/// Boostrap Overrides
/// 
/// 

// set the prefix
$prefix: mjh-;


// colours 
$black: #000;

$white: #fff;
$blue: #005EB8;
$silver: #cdcdcd;
$grey :#767676;
$platinum: #E5E4E2;
/// Default colour for borders
$borderColour: lighten($grey, 10);

/// Grid breakpoints Updates
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440px, xxxl: 1600px);

/// Container max widths
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1400px, xxl: 1440px);

/// Control the default styling of most Bootstrap elements by modifying these
/// variables. Mostly focused on spacing.
$spacer: 10px;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge((0: 0,
    1: ($spacer * 0.5), // 5px
    2: $spacer, // 10px
    3: ($spacer * 1.5), // 15px
    4: ($spacer * 2), // 20px
    5: ($spacer * 2.5), // 25px
    6: ($spacer * 3), // 30px
    7: ($spacer * 3.5) // 35px
  ), $spacers);
// This variable affects the `.h-*` and `.w-*` classes.

$sizes: ();
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge((25: 25%,
    33: 33%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto), $sizes);

// Typography
$font-family-sans-serif: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$font-size-base: 1rem; // this can only have a REM unit, PX will cause an error
$line-height-base: 1.5;

$h1-font-size : $font-size-base * 3;
$h2-font-size : $font-size-base * 2.5;

$link-color: $blue;
$link-color-hover: darken($link-color, 5%);

// scss-docs-start border-radius-variables
$border-radius:               .3125rem;
$border-radius-sm:            .25rem;
$border-radius-lg:            .5rem;
$border-radius-xl:            1rem;
$border-radius-xxl:           2rem;
$border-radius-pill:          50rem;
// scss-docs-end border-radius-variables



// navbar items
$navbar-brand-padding-y: 10px;
$navbar-brand-margin-end: 5px;
$navbar-brand-font-size: 18px;

$navbar-link-color: $white;
$navbar-link-color-lg: $link-color;
$navbar-link-color-hover: $white;
$navbar-link-color-hover-lg: $link-color-hover;

$nav-link-font-weight: 100;
$nav-link-font-size: 1rem;

$offcanvas-bg-color: $blue;
$offcanvas-horizontal-width: 75%;

// dropdown items
$dropdown-border-radius: 0;




// scss-docs-start modal-variables
$modal-inner-padding:               $spacer !default;

$modal-footer-margin-between:       .5rem !default;

$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;

$modal-title-line-height:           $line-height-base !default;

$modal-content-color:               null !default;
$modal-content-bg:                  var(--#{$prefix}body-bg) !default;
$modal-content-border-color:        var(--#{$prefix}border-color-translucent) !default;
$modal-content-border-width:        var(--#{$prefix}border-width) !default;
$modal-content-border-radius:       var(--#{$prefix}border-radius);
$modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width) !default;
$modal-content-box-shadow-xs:       var(--#{$prefix}box-shadow-sm) !default;
$modal-content-box-shadow-sm-up:    var(--#{$prefix}box-shadow) !default;

$modal-backdrop-bg:                 $black !default;
$modal-backdrop-opacity:            .5 !default;

$modal-header-border-color:         var(--#{$prefix}border-color) !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-header-padding-y:            $modal-inner-padding !default;
$modal-header-padding-x:            $modal-inner-padding !default;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-footer-bg:                   null !default;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-footer-border-width:         $modal-header-border-width !default;

$modal-sm:                          300px !default;
$modal-md:                          500px !default;
$modal-lg:                          800px !default;
$modal-xl:                          1140px !default;

$modal-fade-transform:              translate(0, 0);
$modal-show-transform:              none !default;
$modal-transition:                  transform .3s ease-out !default;
$modal-scale-transform:             scale(.8);
// scss-docs-end modal-variables


/* custom variable values:END */