// skip to main items
.skipToMain {
  position: absolute;
  top: 0;
  left: 50%;  
  transform: translateY(-100%);
  padding: 25px 50px;
  background-color: $white;
  z-index: 99999;

  &:focus {    
    transform: translateY(10%);
    @include outline();
  }
}

a{
  &:focus{
    @include outline(0);  
  }  
}

